---
layout: default
title: Collecture
---
{% include people.svg%}
{% include handphone.svg%}
<div id="fullpage" style="display: none;">
	<div id="header">
		<a  href="#one">collecture</a>
		<div class="header-right">
			<span id="responsive"></span>
			<a href="/login">log in</a>
			<a class="pill-btn white left-margin" href="/register">register</a>
		</div>
	</div>
	{% for heading in site.data.headings %}
		<div class="section" data-tooltip="{{heading.tooltip}}" data-anchor="{{heading.tooltip}}">
			<h1>{{heading.title}}</h1>
			<p class="lead">{{heading.subtitle}}</p>
		</div>
		
	{% endfor %}
</div>
<footer>
	<a href="https://itunes.apple.com/ch/app/collecture/id1185222314?l=en&mt=8" target="_blank">
		<img src="assets/images/app-store-badge.svg" />
	</a>
	<img src="assets/images/google-play-badge.svg" />
</footer>